n8n/workflows/ejemplo_banco.json
{
  "name": "Ejemplo Consulta Bancaria",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "consulta-bancaria",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook - Recibir Consulta",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "consulta-bancaria"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.pregunta }}",
              "operation": "contains",
              "value2": "saldo"
            }
          ]
        }
      },
      "id": "if-node",
      "name": "¿Es consulta de saldo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "collection": "clientes",
        "operation": "find",
        "query": "={{ { \"usuario_id\": $json.body.usuario_id } }}"
      },
      "id": "mongo-node",
      "name": "MongoDB - Consultar Cliente",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [650, 200],
      "credentials": {
        "mongoDb": {
          "id": "1",
          "name": "MongoDB Banco"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "departamento",
              "value": "Consultas de Saldo"
            },
            {
              "name": "respuesta",
              "value": "Su saldo actual es: €{{ $json.saldo }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-saldo",
      "name": "Responder Saldo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "departamento",
              "value": "General"
            },
            {
              "name": "respuesta",
              "value": "¿En qué puedo ayudarle?"
            }
          ]
        },
        "options": {}
      },
      "id": "set-general",
      "name": "Respuesta General",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-webhook",
      "name": "Responder al Cliente",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook - Recibir Consulta": {
      "main": [
        [
          {
            "node": "¿Es consulta de saldo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es consulta de saldo?": {
      "main": [
        [
          {
            "node": "MongoDB - Consultar Cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta General",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB - Consultar Cliente": {
      "main": [
        [
          {
            "node": "Responder Saldo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder Saldo": {
      "main": [
        [
          {
            "node": "Responder al Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta General": {
      "main": [
        [
          {
            "node": "Responder al Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "id": "ejemplo-banco-workflow",
  "meta": {
    "instanceId": "accenture_mavericks"
  },
  "tags": [
    {
      "name": "banco"
    },
    {
      "name": "ejemplo"
    }
  ]
}
