n8n/workflows/webhook_api_integration.json
{
  "name": "Integración API Bancaria Completa",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api-bancaria",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-start",
      "name": "Webhook - Entrada API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "functionCode": "// Extraer datos del webhook\nconst body = $input.first().json.body;\nconst pregunta = body.pregunta || body.texto || '';\nconst usuarioId = body.usuario_id || 'anonimo';\n\n// Clasificación simple por palabras clave\nlet departamento = 'General';\nlet prioridad = 'normal';\n\nconst preguntaLower = pregunta.toLowerCase();\n\nif (preguntaLower.includes('saldo') || preguntaLower.includes('cuenta')) {\n  departamento = 'Consultas';\n  prioridad = 'alta';\n} else if (preguntaLower.includes('préstamo') || preguntaLower.includes('hipoteca') || preguntaLower.includes('crédito')) {\n  departamento = 'Préstamos';\n  prioridad = 'alta';\n} else if (preguntaLower.includes('tarjeta') || preguntaLower.includes('cajero')) {\n  departamento = 'Tarjetas';\n  prioridad = 'media';\n} else if (preguntaLower.includes('reclam') || preguntaLower.includes('problema') || preguntaLower.includes('error')) {\n  departamento = 'Reclamaciones';\n  prioridad = 'urgente';\n}\n\nreturn {\n  json: {\n    pregunta: pregunta,\n    usuario_id: usuarioId,\n    departamento: departamento,\n    prioridad: prioridad,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "function-clasificar",
      "name": "Clasificar Consulta",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.departamento }}",
              "operation": "equals",
              "value2": "Consultas"
            }
          ]
        }
      },
      "id": "switch-departamento",
      "name": "Switch Departamento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [640, 300]
    },
    {
      "parameters": {
        "operation": "find",
        "collection": "clientes",
        "query": "={{ { \"usuario_id\": $json.usuario_id } }}",
        "options": {}
      },
      "id": "mongo-consultar",
      "name": "MongoDB - Buscar Cliente",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [840, 200],
      "credentials": {
        "mongoDb": {
          "id": "1",
          "name": "MongoDB Banco"
        }
      }
    },
    {
      "parameters": {
        "url": "http://localhost:8000/ask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.pregunta }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-api-externa",
      "name": "Llamar API Externa (app.py)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [840, 400]
    },
    {
      "parameters": {
        "operation": "insertOne",
        "collection": "conversaciones",
        "fields": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "mongo-guardar",
      "name": "MongoDB - Guardar Conversación",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [1040, 300],
      "credentials": {
        "mongoDb": {
          "id": "1",
          "name": "MongoDB Banco"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "departamento",
              "value": "={{ $json.departamento }}"
            },
            {
              "name": "respuesta",
              "value": "={{ $json.answer || 'Consulta procesada correctamente' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-response",
      "name": "Preparar Respuesta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1240, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-webhook",
      "name": "Responder al Cliente",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1440, 300]
    }
  ],
  "connections": {
    "Webhook - Entrada API": {
      "main": [
        [
          {
            "node": "Clasificar Consulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificar Consulta": {
      "main": [
        [
          {
            "node": "Switch Departamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Departamento": {
      "main": [
        [
          {
            "node": "MongoDB - Buscar Cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Llamar API Externa (app.py)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB - Buscar Cliente": {
      "main": [
        [
          {
            "node": "MongoDB - Guardar Conversación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llamar API Externa (app.py)": {
      "main": [
        [
          {
            "node": "MongoDB - Guardar Conversación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB - Guardar Conversación": {
      "main": [
        [
          {
            "node": "Preparar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Respuesta": {
      "main": [
        [
          {
            "node": "Responder al Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "2",
  "id": "webhook-api-integration",
  "meta": {
    "instanceId": "accenture_mavericks"
  },
  "tags": [
    {
      "name": "integracion"
    },
    {
      "name": "produccion"
    }
  ]
}
